
@{
    ViewBag.Title = "DashBoard";
}

  <div class="row"> <i class="fa fa-reply" style="font-size:80px; position:relative; left:30px; top:35px; color:firebrick;"></i>
     
      <div>
          <h2 style="position:relative; left:50px; top:40px;">Yönetim Paneline Hoşgeldiniz</h2>

          <p style="position:relative; left:50px; top:40px;">Yönetici İşlemlerinizi Soldaki Panaller Yardımı İle Halledebilirsiniz.</p>
      </div>

  </div>
    



