
@{
    ViewBag.Title = "OdemeAlindi";
}

<h2 class="text-success">Ödeme Başarılı</h2>

<p>
    @TempData["SiparisId"] nolu siparişinizin ödemesi başarıyla alındı.
    Ürünleriniz en kısa zamanda kargoya verilecektir.
</p>

